<html>
    <head>
        <title>Ojjang's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ojjang Blog</a></h1>
        </div>

        <div>
            <p>published : 2020.04.01</p>
            <h2><a href="">My first post</a></h2>
            <p>이 블로그는 파이썬언어로 Django 프레임워크를 사용하였고
                Django girls 튜토리얼을 하면서 제작해 보았다.
            </p>
        </div>

        <div>
            <p>published : 2020.04.01</p>
            <h2><a href="">My second post</a></h2>
            <p>두번째 포스트 연습용</p>
        </div>
    </body>
</html>